body {
  transition: transform 0.3s ease;
}

main {
  margin: 0 5%;
}

header {
  margin: 0 5%;
}

#instructions-btn-area {
  margin: 0 5%;
}

#brand {
  display: flex;
  align-items: center;
}

#checkbox {
  margin-right: 2rem;
}

#no-items-error {
  margin-bottom: 0.5rem;
  color: red;
  display: none;
}

/* instructions div */
#instructions {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  z-index: 1;
  transform: translateX(-100%)
}

#instructions p {
  margin: 1rem;
}

#instructions p:first-of-type {
  font-size: 24px;
}

#instructions span {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 25px;
  cursor: pointer;
}

.open-sidebar {
  transform: translateX(300px)
}

#instructions-btn-area {
  margin-top: 1rem;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#instructions-btn-area a {
  color: #333;
  transition: 0.3s;
}

#instructions-btn-area #instructions-btn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  transition: 0.3s;
}

#instructions-btn-area #instructions-btn:hover {
  color: #666;
  cursor: pointer;
}

/* footer */
footer {
  height: 200px;
  background-color: #f2f2f2;
  font-size: 18px;
}

footer a {
  color: #333;
}

footer div {
  margin: 2.5rem 5rem 0 5rem;
}

footer #footer-built-by {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer #footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}