@media (max-width: 640px) {
    main {
        flex-direction: column;
    }

    #add-list-section {
        width: 100vw;
    }

    #notes-list-section {
        width: 100vw;
    }

    #heading h2 {
        font-size: 17px;
    }

    footer {
        margin: 0 5%;
    }
}